<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmento.html :: cabecera(titulo='Lista Transportistas')">
</head>
<body class="container">

<div th:replace="fragments/fragmento.html :: barraSuperior"></div>

<h2>Lista Transportistas</h2>

<a class="btn btn-primary mt-4 mb-4" th:href="@{'/shipper/new'}">Nuevo Transportista</a>


<form method="post" th:action="@{'/shipper/buscarTransportista'}">
    <input type="hidden" name="companyname" class="form-control mb-3" placeholder="Buscar" />
</form>

<form class="form-inline" method="post" th:action="@{'/shipper/buscarPorInicio'}">
    <div class="form-group">
        <input name="inicio" type="text" class="form-control mb-4 mr-2" placeholder="BuscarPorInicio" />
    </div>

    <button class="btn btn-primary mb-4" th:href="@{'/shipper/list'}">Refrescar</button>

</form>


<div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

<table class="table table-sm">
    <tr>
        <th>#</th>
        <th>ID</th>
        <th>Nombre de la compañia</th>
        <th>Teléfono</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="shipper, info : ${shipperList}">
        <td th:text="${info.index + 1}"></td>
        <td th:text="${shipper.shipperId}"></td>
        <td th:text="${shipper.companyname}"></td>
        <td th:text="${shipper.phone}"></td>
        <td><a class="btn btn-primary" th:href="@{'/shipper/edit' + '?id=' + ${shipper.shipperId}}">Editar</a></td>
        <td><a class="btn btn-danger" th:href="@{'/shipper/delete' + '?id=' + ${shipper.shipperId}}">Borrar</a></td>
    </tr>
</table>
</body>
</html>