<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragmento.html :: cabecera(titulo='Formulario Nuevo Transportistas')">
</head>
<body class="container">
<div th:replace="fragments/fragmento.html :: barraSuperior"></div>

<h2 th:text="${shipper.companyname==null?'Nuevo Transportista':'Editar Transportista'}">Nuevo Transportista</h2>
<div th:if="${errorCompany != null}" th:text="${errorCompany}" class="alert alert-danger" role="alert"></div>
<hr/>
<form method="post" th:action="@{'/shipper/save'}" th:object="${shipper}">
    <input th:value="${shipper.shipperId}" name="shipperId" type="hidden"/>

    <div class="form-group">
        <label for="companyname">Nombre de la compañía</label>
        <input name="companyname" type="text" class="form-control" id="companyname" th:field="*{companyname}">
    </div>
    <div class="form-group">
        <label for="phone">Teléfono</label>
        <input name="phone" type="text" class="form-control" id="phone" th:field="*{phone}">
    </div>
    <a th:href="@{'/shipper/list'}" class="btn btn-danger">Cancelar</a>
    <button type="submit" class="btn btn-primary" th:text="${shipper.companyname==null?'Registrar':'Actualizar'}">Registrar</button>
</form>
</body>
</html>

